* {
    margin: 0;
    padding: 0;
    }
.tropical {
    font-style: fantasy;
    color: #f7325e
  }
  .popular {
    font-style: fantasy;
    color: #f7325e
  }
  h2 {
    width: 50%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: inline;
  }​
  .author {
    color: red;
  }
  p.author {
    font-size: 12px;
  }
  .title{
      font-size: 370%;
      font-style: oblique;
      text-align: center;
      color: red;
      padding-top: 3.5rem;
  }
  .site-header {
      height: 11em;
      width: 100%;
      display: block;
      background-color: #18242e;
      background-position: center;
      margin-top: 0%;
      display: block;
      margin: 0%;
      padding: 0%;
  }

